docs/n8n/budget_alert_workflow.json
{
  "id": "2d8b939d-2cf8-44f7-a090-7b4ae0065c34",
  "name": "Smart Expense Tracker - Budget Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Scheduled Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/api/v1/automation/budget-alerts?user_id={{$env.USER_ID}}&threshold=80",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Key",
              "value": "={{$env.AUTOMATION_API_KEY}}"
            }
          ]
        }
      },
      "name": "Get Budget Usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.triggered.length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        240
      ]
    }
  ],
  "connections": {
    "Scheduled Check": {
      "main": [
        [
          {
            "node": "Get Budget Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Budget Usage": {
      "main": [
        [
          {
            "node": "Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
