docs/n8n/weekly_report_workflow.json
{
  "name": "Smart Expense Tracker - Weekly Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                7
              ],
              "triggerAtHour": 20
            }
          ]
        }
      },
      "name": "Weekly Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$env.API_BASE_URL}}/api/v1/automation/weekly-report?user_id={{$env.USER_ID}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Key",
              "value": "={{$env.AUTOMATION_API_KEY}}"
            }
          ]
        }
      },
      "name": "Fetch Weekly Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        260
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a concise weekly financial report based on this JSON data. Highlight overspending and give 2 improvement suggestions.\n\n{{$json}}"
      },
      "name": "Generate Report",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        760,
        260
      ]
    }
  ],
  "connections": {
    "Weekly Cron": {
      "main": [
        [
          {
            "node": "Fetch Weekly Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weekly Data": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
